extends ../../views/layout-nav


block content
  .top-nav
    .content-body-wrap
      .brand ccportal
  .container#container

  include pages/login
  include pages/regist
  include pages/welcome

append css
  link(href="notwis/skin/notwis.less",rel="stylesheet",type="text/css")        
append js
  script(data-main='notwis/source/app.js',src="lib/require.js")